
#footer-row3 {
	font-family: 'futura-light', sans-serif;
	padding: 50px 16px 50px 16px;
	background-color: rgb(248, 248, 248);
}

#footer-row3-title {
	font-family: 'futura-light', sans-serif;
	text-align: center;
	font-size: 0.875em;
}

#footer-row3-content {
	font-family: 'futura-light', sans-serif;
	text-align: center;
	margin-bottom: 20px;
	font-size: 0.875em;
}

#subscribe-email {
	border: 1px solid #ddd;
	margin-top: 20px;
	margin-bottom: 10px;
}

#subscribe-gender {
	margin-bottom: 10px;
}

.footer-row-blok-item {
	margin: 20px 20px 0 20px;
	text-align: center;
	flex-grow: 1;
}

.footer-row-link {
	font-size: 0.875em;
	text-decoration: none;
	color: #222;
}

.footer-row-link:hover {
	text-decoration: underline;
}

.footer-row-title {
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 20px;
	display: inline-block;
	text-transform: uppercase;
}



p.footer-subscribe {
	font-family: 'futura-light', sans-serif;
	text-align: center;
	margin-bottom: 20px;
	font-size: 0.875em;
}

@media screen and (max-width: 1024px) {
	#subscribe-email {
		width: 100%;
	}

	.footer-row {
		border-top: 1px solid #ddd;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.footer-row-blok:last-child {
		margin-bottom: 20px;
	}
	
	.footer-row-blok {
		display: flex;
		flex-direction: column;
	}

	.footer-row-blok.footer-subscribe {
		border-top: 1px solid #ddd;
		margin-top: 20px;
	}

	.footer-email-subscribe .form-input{
		width: 100%;
	}

}

@media screen and (min-width: 1025px) {
	#subscribe-email {
		width: 400px;
	}

	.footer-row {
		border-top: 1px solid #ddd;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items:flex-start;
	}

	.footer-row-blok {
		display: flex;
		flex-direction: row;
	}

	.footer-row-blok.footer-subscribe {
		border-left: 1px solid #ddd;
		min-width: 50%;
		max-width: 50%;
		width: 50%;
	}
	
	.footer-row-blok.footer-shops {
		min-width: 50%;
		max-width: 50%;
		width: 50%;
	}

	.footer-email-subscribe .form-input {
		width: 300px;
	}

}


