{{template "layoutdasar" .}}
{{define "pagefooter"}}
	<div id="footer-row1">


	</div>
	<div id="footer-row2">


	</div>

	
	{{if .Setup.ShowFooterRow4}}
	<div id="footer-row4">
		<div id="footer-row4-title">
			AIGNER – PREMIUM LEATHER GOODS FOR THE HIGHEST DEMANDS
		</div>
		<p id="footer-row4-content">
			Unique craftsmanship and highest quality coupled with tradition and perfection in every
			detail - those special properties are the symbol of the products of the premium brand Aigner. 
			Today the German brand, with its three product areas leather, accessories and fashion, 
			is part of the premier class and can be regularly admired at the Fashion Fairs in Milan. 
			The distinctive mark of the world-famous brand is the characteristic Aigner "A", 
			a small horseshoe, which identifies its owner as a connoisseur of style. 
			Until the Munich-based company reached its important position as a manufacturer 
			of exclusive leather goods such as handbags, belts, luggage and accessories for 
			ladies and gentlemen, the founder of Etienne Aigner had to master some obstacles. 
			Initially he designed only a few bag collections for several haute couture houses in Paris. 
			Among other things the designer created his first items for Christian Dior and Hermès. 
			Finally, in 1950 and 1965 he founded his own companies in New York and Munich. 
			At the same time Heiner Rankl joined the company and the brand was able to 
			position itself on the market as a constant supplier of luxury items. 
			The brand Aigner currently still stands for sovereignty, security and trust 
			as well as a constant timeless and always valid style. 
			The distinctive accessories above all inspire modern people, who follow innovation 
			and appreciate tradition.
		</p>
	</div>
	{{end}}
{{end}}