.dw-input-textbox {
	display: block;
	border: 1px solid #ccc;
	padding-top: 1px;
	height: 32px;
	position: relative;
}

.dw-input-textbox input {
	background-color: aliceblue;
	box-sizing: border-box;
	border: 0;
	border-radius: 0;
	margin: 0px;
	padding-top: 10px;
	width: 100%;
	height: 32px;
	font-size: 1em;
	
}

.dw-input-textbox:focus-within {
	padding-top: 0px;
	border-bottom: 2px solid rgba(0, 0, 0);
}

.dw-input-textbox input:focus {
	outline: none;
	padding-top: 12px;
}

.dw-input-textbox label { 
	display: block;
	background-color: cornsilk;
	color: #8995a2;
	font-size: 0.7em;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 0;
	line-height: 1;
	-webkit-transition: 300ms ease all;
	transition: 300ms ease all;
}