{{template "layoutdasar" .}}
{{define "pageheader"}}
<div id="container-pageheader">
	<!-- <div id="pageheader-promoter" class="hidden">
		<div></div>
		<div>Limited time offer 15% off: You'll get the discount on your order!</div>
		<div>
			<img id="pageheader-btn_promoter_close" src="/template/assets/icon-close.svg">
		</div>
	</div> -->
	<div id="pageheader">
		<!-- mobile-->
		<div id="pageheader-mobile">
			ini header mobile
		</div>

		<!-- desktop-->
		<div id="pageheader-desktop">
			ini header desktop
		</div>
		{{block "mainmenu-desktop-bar" .}}
		{{end}}
	</div>
</div>
{{end}}