#container-pageheader {
	margin: 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}


#pageheader {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 24px;
}

.pageheader-scroll-down {
	border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 1024px) {
	#pageheader {
		height: var(--pageheader-height-mobile);
	}

	#pageheader-mobile {
		display: block;
	}

	#pageheader-desktop {
		display: none;
	}
	
}

@media screen and (min-width: 1025px) {
	#pageheader {
		height: var(--pageheader-height-desktop);
	}

	#pageheader-mobile {
		display: none;
	}

	#pageheader-desktop {
		display: block;
	}
}