#container-pageheader {
	margin: 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}


#pageheader {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 24px;
}

.pageheader-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pageheader-bar-left, .pageheader-bar-right {
	margin-left: 10px;
	margin-right: 10px;
}

.pageheader-scroll-down {
	border-bottom: 1px solid #ddd;
}

.logo-desktop {
	width: 99px;
	height: 56px;
	margin-top: 20px;
}

.logo-mobile {
	width: 22px;
	height: 22px;
	margin-top: 15px
}


@media screen and (max-width: 1024px) {
	#pageheader {
		height: var(--pageheader-height-mobile);
	}
	
	.pageheader-bar-left, .pageheader-bar-right {
		width: 100px;
	}

}

@media screen and (min-width: 1025px) {
	#pageheader {
		height: var(--pageheader-height-desktop);
	}

	.pageheader-bar-left, .pageheader-bar-right {
		width: 400px;
	}
}