{{template "layoutdasar" .}}

{{define "mainmenu-mobile-button"}}
<img id="mainmenu-mobile-btn_open" src="/template/assets/icon-burgermenu.svg" class="pageheader-icon-img">
{{end}}


{{define "mainmenu-mobile-content"}}
<div id="mainmenu-mobile">

	<div class="headerbar mainmenu-mobile-top">
		<div class="headerbar-left">
			<img id="mainmenu-mobile-btn_close" src="/template/assets/icon-dir-prev.svg" class="pageheader-icon-img">
		</div>
		<div class="headerbar-center">
			<a href="/">
				<img class="logo-mobile" src="/asset/data/images/aigner-emblem.svg">
			</a>
		</div>
		<div class="headerbar-right">
		</div>
	</div>

	<nav class="mainmenu-mobile-middle">
		<button class="accordion">Women</button>
		<div class="accordion-panel">
			<a href="#">ACCESSORIES</a>
			<a href="#">BAGS</a>
			<a href="#">BELTS</a>
			<a href="#">READY TO WEAR</a>
			<a href="#">SHOES</a>
			<a href="#">SMALL LEATHER GOODS</a>
			<a href="#">WATCHES</a>
		</div>

		<button class="accordion">Men</button>
		<div class="accordion-panel">
			<a href="#">BAGS</a>
			<a href="#">BELTS</a>
			<a href="#">SHOES</a>
			<a href="#">SMALL LEATHER GOODS</a>
			<a href="#">WATCHES</a>
		</div>

		<a href="#">Magazine</a>

		<button class="accordion">Inspiration</button>
		<div class="accordion-panel">
			<a href="#">VIDEOS</a>
			<a href="#">COLLECTION BOOK</a>
			<a href="#">SEASON HIGHLIGHTS</a>
		</div>

		<a href="#">New In</a>
		<a href="#">Best Seller</a>
		<a href="#">Sale</a>

	</nav>

	<div class="mainmenu-mobile-bottom">
		Logout
	</div>


</div>
{{end}}
