{{template "layoutdasar" .}}

{{define "mainmenu-mobile-button"}}
<img id="mainmenu-mobile-btn_open" src="/template/assets/icon-burgermenu.svg" class="pageheader-icon-img">
{{end}}


{{define "mainmenu-mobile-content"}}
<div id="mainmenu-mobile">

	<div class="headerbar mainmenu-mobile-top">
		<div class="headerbar-left">
			<img id="mainmenu-mobile-btn_close" src="/template/assets/icon-dir-prev.svg" class="pageheader-icon-img">
		</div>
		<div class="headerbar-center">
			<a href="/">
				<img class="logo-mobile" src="/asset/data/images/aigner-emblem.svg">
			</a>
		</div>
		<div class="headerbar-right">
		</div>
	</div>

	<div class="mainmenu-mobile-middle">
		satu<br>
		dua<br>
		tiga<br>
		empat<br>
		lima<br>
		enam<br>
		sembilan<br>
		sepuluh<br>
		sebelas<br>
		duabelas<br>
		tigabelas<br>
		empatbelas<br>
		limabelas<br>
		enambelas<br>
		sembilanbelas<br>
		sepuluhbelas<br>
		sebelasbelas<br>
		tigabelasbelas<br>
		empatbelasbelas<br>
		limabelasbelas<br>
		enambelasbelas<br>
		sembilanbelasbelas<br>
		sepuluhbelasbelas<br>
		sebelasbelasbelas<br>
		tigabelasbelasbelas<br>
		empatbelasbelasbelas<br>
		limabelasbelasbelas<br>
		enambelasbelasbelas<br>
		sembilanbelasbelasbelas<br>
		sepuluhbelasbelasbelas<br>
		sebelasbelasbelasbelas<br>
		tigabelasbelasbelasbelas<br>
		empatbelasbelasbelasbelas<br>
		limabelasbelasbelasbelas<br>
		enambelasbelasbelasbelasbelas<br>
	</div>

	<div class="mainmenu-mobile-bottom">
		Logout
	</div>


</div>
{{end}}
