{{template "layoutdasar" .}}

{{define "mainmenu-desktop-bar"}}
<!-- referensi: https://www.w3schools.com/howto/howto_css_mega_menu.asp -->
<nav id="mainmenu-desktop" class="show-on-desktop">
	<div class="dropdown">
		<button class="dropbtn">Woman</button>
		<div class="dropdown-content">
			<div class="dropdown-content-container">
				<div class="dropdown-content-column">
					<div><a href="#">ACCESSORIES</a></div>
					<div><a href="#">BAGS</a></div>
					<div><a href="#">BELTS</a></div>
					<div><a href="#">READY TO WEAR</a></div>
				</div>
				<div class="dropdown-content-column">
					<div><a href="#">SHOES</a></div>
					<div><a href="#">SMALL LEATHER GOODS</a></div>
					<div><a href="#">WATCHES</a></div>
				</div>
				<div class="dropdown-content-column"></div>
			</div>
		</div>
	</div>
	<div class="dropdown">
		<button class="dropbtn">Man</button>
		<div class="dropdown-content">
			<div class="dropdown-content-container">
				<div class="dropdown-content-column">
					<div><a href="#">BAGS</a></div>
					<div><a href="#">BELTS</a></div>
				</div>
				<div class="dropdown-content-column">
					<div><a href="#">SHOES</a></div>
					<div><a href="#">SMALL LEATHER GOODS</a></div>
					<div><a href="#">WATCHES</a></div>
				</div>
				<div class="dropdown-content-column"></div>
			</div>	
		</div>
	</div>		

	<a class="navbarlink" href="#">Magazine</a>

	<div class="dropdown">
		<button class="dropbtn">Inspiration</button>
		<div class="dropdown-content">
			<div class="dropdown-content-container">
				<div class="dropdown-content-column">
					<div><a href="#">VIDEOS</a></div>
				</div>
				<div class="dropdown-content-column">
					<div><a href="#">COLLECTION BOOK</a></div>
				</div>
				<div class="dropdown-content-column">
					<div><a href="#">SEASON HIGHLIGHTS</a></div>
				</div>
			</div>	
		</div>
	</div>
	<a class="navbarlink" href="#">New In</a>
	<a class="navbarlink" href="#">Best Seller</a>
	<a class="navbarlink" href="#">Sale</a>
</nav>
{{end}}




